
<section id="cours" class="accordion">
    <ul>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/zeynep22-1-103760ef-f143-45fb-8e7c-be1b15a8ae0f.avif" alt="">
                <div class="image_title">
                    <figcaption>Les cours de théâtre</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/zeynep22-3-f2a8bc97-ea4a-4166-912c-bfaa4497acf1.avif" alt="">
                <div class="image_title">
                    <figcaption>Les cours de cirque</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/scene-herbe-0082ec9a-d17b-47d0-bff3-982f40b7d072.avif" alt="">
                <div class="image_title">
                    <figcaption>Les stages de cirque</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/laccygnes-dsc4712-cbd825f9-9399-4c52-ad93-3acaa3ee9ac7.avif" alt="">
                <div class="image_title">
                    <figcaption>Les stages de théâtre</figcaption>
                </div>
            </a>
        </figure>
        </li>
    </ul>
</section>

  
