
<section class="accordion">
    <ul>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/avatar-badaboum-e9b4f5b9-ba89-43d8-b10b-1c5d21a73faa.jpg" alt="">
                <div class="image_title">
                    <figcaption>Les cours de théâtre</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/zeynep22-3-46765d21-d53c-41bf-a059-2c6adc3b5e68.jpg" alt="">
                <div class="image_title">
                    <figcaption>Les cours de cirque</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/scene-herbe-317fc645-6923-481b-ac00-35cbad66c1cf.jpg" alt="">
                <div class="image_title">
                    <figcaption>Les stages de cirque</figcaption>
                </div>
            </a>
        </figure>
        </li>
        <li>
        <figure>
            <a href="#">
                <img src="uploads/laccygnes-dsc4712-fbcd5738-817c-4e69-b0d9-b439d14c65c4.jpg" alt="">
                <div class="image_title">
                    <figcaption>Les stages de théâtre</figcaption>
                </div>
            </a>
        </figure>
        </li>
    </ul>
</section>

  
