{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{#     <main>
                <div>

                    <div>
                        <h3>Articles récents </h3> 
                        <div id="article-list">
                    {% include 'article/list.html.twig' with { articles: articles, leftCol: 5, rightCol: 7 } %}
                        </div>
                    </div>

                    <div>
                        <div">
                            {% include "widget/about.html.twig" %}
                            {% include "widget/categories.html.twig" %}
                        </div>
                    </div>

                </div>

    </div>
 #}
{% endblock %}
