<!-- SIDEBAR -->
            <div class="sidebar">
                <a target="_blank" href="https://www.facebook.com/badaboum.theatre/"><i class="fa-brands fa-facebook-f"></i></a>
                <a target="_blank" href="mailto:contact@badaboum-theatre.com"><i class="fa-solid fa-envelope icon"></i></a>
            </div>
        </section>