<!-- SIDEBAR -->
            <div class="sidebar">
                <a target="_blank" href="https://www.linkedin.com/in/yacine-djahafi/"><i class="fa-brands fa-linkedin icon"></i></a>
                <a target="_blank" href="mailto:yacine.djahafi@gmail.com"><i class="fa-solid fa-envelope icon"></i></a>
            </div>
        </section>