.dashboard{
  padding: 11px;
  border-radius: 30px;
  background-color: rgb(4, 0, 255);
  margin: 50px;
  color: white;
  font-size: xx-large;
  transition: 500ms;
  position: fixed;
}

.dashboard:hover{
  transform: scale(1.2) rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  background-color: darkgreen;
  color: #fafafa;
}
.bg-actu{
  padding: 10%;
  margin: 0 auto;
  background-image: url("../uploads/bandeau-accueil-816252e9-bd19-4864-a0fb-15c118ed59dc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.actu{
  border: rgb(161, 161, 161) 1px solid;
  background-color: rgba(128, 128, 128, 0.575);
  box-shadow: 5px 6px 5px 5px rgba(0,0,0,0.44);
  border-radius: 30px;
  /* width: 49vw; */
  width: 70vw;
  /* padding: 38px; */
  margin: 0 auto;
}
.actu>div{
  text-align: center;
  font-size: 3.3rem;
  padding: 18px 0;
  justify-content: space-evenly;
}
.actu>div>a, .actu>div>p{
  font-size: 2.4rem;
  transition: 0.6s;
}
.actu>div>a:hover, .actu>div>p:hover{
  color: #fafafa;
}
.actu>div>a{
  max-width: 41%;
}
.actu>div>p{
  max-width: 33%;
}
.actu-banner{
  text-align: center;
  font-size: 3.3rem;
  padding-top: 18px;
}
