{% extends 'base.html.twig' %}

{% block title %} {{ category.name|capitalize  }} {% endblock %}

{% block body %}

    <main>
        <div>
            <div>
                <h3>{{ category.name|capitalize }}</h3>
                <div id="articles-list">
                    {% include 'article/list.html.twig' with { articles: category.articles, leftCol: 4, rightCol: 8 } %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
