{# menu #}
<div class="scroller">
    <h2 class="spec">Les spectacles de la saison 2023/24</h2>
{# menu-wrapper #}
    <div id="container" class=" articleContainer">
    {% for article in articles %}
    {# UNE LISTE QUI APPEL CHAQUE ARTICLE ET OU ON A LE TITRE, IMG, FEAT TEXT etc. #}
        {% if article.isVisible == 1 %}

        {# menu-item #}
            <div class="slides">
            {% include "article/carousel.html.twig" %}
                {# {% include "article/item.html.twig" with {article} %} #}
            </div>

        {% endif %}
    {% endfor %}

    </div>
    <button class="btn-voirTout">Voir plus</button>
    <button class="btn-voirMoins">Voir moins</button>
</div>