{# menu #}
<div class="scroller">
{# menu-wrapper #}
    <div class="articleContainer">
    {% for article in articles %}
    {# UNE LISTE QUI APPEL CHAQUE ARTICLE ET OU ON A LE TITRE, IMG, FEAT TEXT etc. #}
        {% if article.isVisible == 1 %}
        {# menu-item #}
            <div class="slides">
                {% include "article/item.html.twig" with {article} %}
            </div>
        
            

        {% endif %}
    {% endfor %}

</div>
</div>