<div id="saison" class="scroller">
    <h2 class="spec">Les spectacles de la saison 2023/24</h2>
    <div id="container" class=" articleContainer">
        {% for article in articles %}
            {% if article.isVisible == 1 %}
                <div class="slides">
                    {% include "article/carousel.html.twig" %}
                    {# {% include "article/item.html.twig" with {article} %} #}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="btn-voirTout">Voir plus</button>
    <button class="btn-voirMoins">Voir moins</button>
</div>